body {
	font-family: 'Roboto', sans-serif;
	background-color: #222;
	margin: 0px;
	overflow: hidden;
}
*, *:before, *:after {
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
canvas {
	width:100%;
	height:100%;
	transition: opacity 1000ms;
	position: absolute;
	z-index: -1;
}
h1 {
	font-weight: 800;
	font-size: 3.05em;
	color: #4A9DE7;
	text-transform:uppercase;
	margin:0;
	line-height: 1;
	font-weight: 100;
}
.info {
	position: absolute;
	bottom: 1em;
	right: 1em;	
}
p {
    margin: 0;
    font-weight: 400;
    text-transform: uppercase;
    color: #999;
    letter-spacing: 0.05em;
}
.credits {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    font-size: 0.7em;
    color: #777;
	text-align: right;
	line-height: 1.6;
}
a {
    color: #4A9DE7;
}
a:hover {
    color: #54AFFF;
    text-decoration: none;
}
#stats {
	right: 0;
}
.info {
	padding: 0 2em;
	text-align:center;
}
.arrow-prev:after, .arrow-next:after {
    content:"";
    width: 0px;
    height: 0px;
    border-style: solid;
    position: absolute;
    top: 50%;
    margin-top: -1em;
}
.arrow-prev:after {
	left: 0;
    border-width: 0.7em 1em 0.7em 0;
    border-color: transparent rgba(0, 123, 255, 0.67) transparent transparent;
}
.arrow-next:after {
    right: 0;
    border-width: 0.7em 0 0.7em 1em;
    border-color: transparent transparent transparent rgba(0, 123, 255, 0.67);
}
.arrow-prev, .arrow-next {
    position: absolute;
    top: 0;
    display: block;
    width: 2em;
    height: 100%;
    overflow: hidden;
    text-indent: 100px;
}
.arrow-prev {
    left: 0;
}
.arrow-next {
    right: 0;
}
.message {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	margin-top: -0.5em;
	font-size: 1.7em;
	text-align: center;
	text-transform: uppercase;
	color: rgba(74, 157, 231, 0.65);
	padding: 0 6%;
	pointer-events:none;
}
.npm-scb-now-playing {
	left: 0;
	padding-left: 138px;
	width: 100%;
}
.npm-scb-wrap {
	width: 100%;
}
.npm-scb-wrap p {
	letter-spacing:0;
}
.npm-scb-info {
	max-width: 300px;
	width: 100%;
	left: 0;
	padding-left: 120px;
	font-size: 0.9em;
}
.title {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    height: 100%;
	transform: scale(1);
	opacity: 1;
    font-size: 1.3em;
	display:none;
}
.transform-transition {
	-webkit-transition: -webkit-transform 1000ms, opacity 1000ms;
	   -moz-transition: -moz-transform 1000ms, opacity 1000ms;
	    -ms-transition: -ms-transform 1000ms, opacity 1000ms;
	     -o-transition: -o-transform 1000ms, opacity 1000ms;
	        transition: transform 1000ms, opacity 1000ms;
}
.title a {
    text-decoration: none;
}
.hide {
	-webkit-transform: scale(2);
	   -moz-transform: scale(2);
	    -ms-transform: scale(2);
	     -o-transform: scale(2);
	        transform: scale(2);
	opacity: 0;
}
.preload-message {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 1.3em;
}
.title-logo {
    max-width: 84%;
	-webkit-animation: grow 15000ms;
	   -moz-animation: grow 15000ms;
	    -ms-animation: grow 15000ms;
	     -o-animation: grow 15000ms;
	        animation: grow 15000ms;
    margin-top: 10%;
    max-height: 40%;
}
.title-left, .title-right {
	position:absolute;
	width:50%;
	bottom: 6%;
	height: 38%;
}
.title-left img, .title-right img {
    padding-bottom: 2em;
    margin-top: 12%;
    height: 57%;
    width: auto;
}
.title-left {
	left:0;
}
.title-right {
	right:0;
}
.title-webgl-error {
	text-transform:none;
	letter-spacing:0;
	max-width:80%;
	margin:8% auto 0;
	display:none;
}
.title-webgl-error p {
	margin:1em 0;
}
.title-right img {
	-webkit-animation:tiltA 10s infinite ease-in-out;
	   -moz-animation:tiltA 10s infinite ease-in-out;
	    -ms-animation:tiltA 10s infinite ease-in-out;
	     -o-animation:tiltA 10s infinite ease-in-out;
	        animation:tiltA 10s infinite ease-in-out;
}
.title-credits {
	color: rgba(255, 255, 255, 0.74);
	padding-top: 0.9em;
	position: relative;
	z-index: 1;
}
.npm-scb-white {
	position: absolute;
	width: 100%;
	left: 3em;
	-webkit-transition: -webkit-transform 500ms;
	   -moz-transition: -moz-transform 500ms;
	    -ms-transition: -ms-transform 500ms;
	     -o-transition: -o-transform 500ms;
	        transition: transform 500ms;
}
.poem-menu-open .npm-scb-white {
    -webkit-transform: translateX(300px);
       -moz-transform: translateX(300px);
        -ms-transform: translateX(300px);
         -o-transform: translateX(300px);
            transform: translateX(300px);
}
.poem-mute-svg {
    width: 65px;
}
.poem-menu-bottom {
    text-align: right;
}
@media screen and (min-width:1200px) {
	.info {
		font-size:1.3em;
	}
}

@media screen and (max-width: 600px) {
	.info {
		font-size:0.6em;
		width:100%;
		text-align: center;
		right:0;
	}
	.credits {
		right:0;
		text-align: left;
		padding: 0 19px;
		font-size: 0.6em;
		margin-left: 54px;
	}

	.arrow-prev:after {
	    right: 0;
		left: auto;
	}
	.arrow-next:after {
	    left: 0;
		right: auto;
	}	
	.npm-scb-now-playing {
		display:none;
	}
	.poem-mute-svg {
		width: 51px;
		bottom: 0.5em;
		position: absolute;
		right: 0.5em;
	}
	
}